<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content= "width=device-width, initial-scale=1.0" />

<title>Login</title>
 <link rel="shortcut icon" href="/images/icon.jpg">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>
  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center" style="background-color:#F26B8A ; color:white; padding: 2%; margin-top: 50px;margin-bottom: 1px; margin-left: 20%; margin-right: 20%;">
        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <form action="/login" method="post">

          <div class="form-group">
              <label style="float:left;">Email</label>
              <input type="text" class="form-control" name="email">
              <span> <%= message %> </span>
          </div>
          <div class="form-group">
            <label style="float:left;">Password</label>
            <input type="password" class="form-control" name="password" />
              <span> <%= message1 %> </span>
          </div>
          <div>
            <input type="submit" class="btn btn-md btn-default" value="Submit" />
          </div>
        </form>
      </div>
      <hr>
      <span class="fa fa-sign-in" style="margin-left:38%;"> Don't have an account? <a style="color: #F26B8A ;" href="/signup">Signup</a></span>
    </div>
  </body>
  </html>